# Abdul Wassay, 19B-080-SE
# Section B

# Chapter 03

# Practice Problems (Book):

# Q.3.1

In [1]:
f=eval(input("Enter the temperature in Fahrenheit: ")) 
c=(f - 32) * 5 / 9
print("The temperature in Celsius is:",c,"C")

Enter the temperature in degrees Fahrenheit: 98.6
The temperature in degrees Celsius is 37.0 C

# Q.3.2

In [ ]:
#3.2(a)
if age>62:
    print("You can get your pension benefits!") 
#3.2(b)
if name in ['Musial','Aaron','Williams','Gehrig','Ruth']:
    print("One of the top 5 baseball players, ever!")
#3.2(c)
if hits>10 and shield==0:
    print("You are dead ...")
#3.2(d)    
if north or south or east or west:
    print("I can escape.")

# Q.3.3

In [ ]:
#3.2(a)
if year%4==0:
    print("Could  be a leap year.")
else:
    print("Definitely not a leap year.")
#3.2(b)
if list==lottery:
    print("You Won!")
else:
    print("Better luck nnext time...")

# Q.3.4

In [10]:
a=('Joe','Sue','Hani','Sophie','Wassay')
x=input("Enter your login id: ")
if x in a:
    print("You are in!")
else:
    print("User unknown")
print("Done")

Enter your login id: Wassay
You are in!
Done

# Q.3.5

In [2]:
words_list=[]
for i in range(0, 5):
    a=input('Please enter a word: ') 
    words_list.append(a)
for word in words_list:   
    print(word)

Please enter a word: Sky
Please enter a word: Stop
Please enter a word: Play
Please enter a word: Good
Please enter a word: Bye
Sky
Stop
Play
Good
Bye

# Q.3.6

In [7]:
#3.6(a)
for x in range(0,10):
    print(x)
#3.6(b)
for y in range(0,2):
    print(y)

0
1
2
3
4
5
6
7
8
9
0
1

# Q.3.7

In [12]:
#3.7(a)
for a in range(3,13):
    print(a)

3
4
5
6
7
8
9
10
11
12

In [14]:
#3.7(b)
for b in range(0,9,2):
    print(b)

0
2
4
6
8

In [15]:
#3.7(c)
for c in range(0,24,3):
    print(c)

0
3
6
9
12
15
18
21

In [16]:
#3.7(d)
for d in range(0,12,5):
    print(d)

0
5
10

# Q.3.8

In [5]:
from math import pi
def perimeter(r):
    c=2*pi*r
    return c
    
perimeter(1)

6.283185307179586

# Q.3.9

In [7]:
def average(a,b):
    av=(a+b)/2
    return av

average(2,3.5)

2.75

# Q.3.10

In [10]:
def noVowel(s):
    for char in s:
        if char in 'aeiouAEIOU':
            return False
        else:
            return True

noVowel('cwm')

True

# Q.3.11

In [20]:
def alleven(x):
    for i in x:
        if i%2!=0:
            return False
        else:
            return True

alleven([8,0,-1,4,-6,10])

True

# Q.3.12

In [16]:
def negative(x):
    for i in x:
        if i < 0:
            print(i)
            
negative([4,0,-1,-3,6,-9])

-1
-3
-9

# Q.3.13

In [18]:
#(a)
def average(a,b):
    'returns the aveage of two numbers'
    av=(a+b)/2
    return av

help(average)

Help on function average in module __main__:

average(a, b)
    returns the aveage of two numbers

In [19]:
#(b)
def negative(x):
    'returns only negative numbers in given list'
    for i in x:
        if i < 0:
            print(i)
            
help(negative)

Help on function negative in module __main__:

negative(x)
    returns only negative numbers in given list

# Q.3.14

In [30]:
# This Question icludes diagram.

# Q.3.15

In [22]:
team=['Ava','Eleanor','Clare','Sarah']
a=team[0]
team[0]=team[-1]
team[-1]=a
print(team)

['Sarah', 'Eleanor', 'Clare', 'Ava']

# Q.3.16

In [24]:
def swap(x):
    x[0],x[-1]=x[-1],x[0]
    return x
    
swap(team)

['Sarah', 'Eleanor', 'Clare', 'Ava']

# Exercises (Book):

# Q.3.17

In [25]:
#3.17(a)
a=eval('2 * 3 + 1')
print(a)

7

In [26]:
#3.17(b)
b=eval('hello')
print(b)
#This contains error  because eval function evaluates 
#the string expression and returns the integer as result.

NameError: name 'hello' is not defined

In [32]:
#3.17(c)
c=eval("'Hello'+' '+'world!'")
print(c)

Hello world!

In [33]:
# 3.17(d)
d=eval("'ASCII'.count('I')")
print(d)

2

In [1]:
#3.17(e)
e=eval('x = 5')
print(e)
#This contains error because eval funtion is not used to assign variables.

SyntaxError: invalid syntax (<string>, line 1)

# Q.3.18

In [38]:
a, b, c = 3, 4, 5
#3.18(a)
if a<b:
    print("OK")
elif c<b:
    print("OK")
elif a+b==c:
    print("Ok")
elif (a**2)+(b**2)==(c**2):
    print("OK")

OK

# Q.3.19

In [43]:
a, b, c = 3, 4, 5
#3.18(a)
if a<b:
    print("OK")
else:
    print("Not OK")
if c<b:
    print("OK")
else:
    print("Not OK")
if a+b==c:
    print("Ok")
else:
    print("Not OK")
if (a**2)+(b**2)==(c**2):
    print("OK")
else:
    print("Not OK")

OK
Not OK
Not OK
OK

# Q.3.20

In [51]:
months=['January','February','March']
for a in months:
    print(a[0],a[1],a[2])

J a n
F e b
M a r

# Q.3.21

In [52]:
lst=[2,3,4,5,6,7,8,9]
for x in lst:
    if x%2==0:
        print(x)

2
4
6
8

# Q.3.22

In [53]:
lst=[2,3,4,5,6,7,8,9]
for y in lst:
    if (y**2)%8==0:
        print(y)

4
8

# Q.3.23

In [55]:
for a in range(0,2):
    print(a)

0
1

In [56]:
for b in range(0,1):
    print(b)

0

In [58]:
for c in range(3,7):
    print(c)

3
4
5
6

In [59]:
for d in range(1,2):
    print(d)

1

In [63]:
for e in range(0,4,3):
    print(e)

0
3

In [66]:
for  f in range(5,22,4):
    print(f)

5
9
13
17
21

# Problems (Book):

# Q.3.24

In [26]:
words=['cia','mi6','secret','isi']
for i in words:
    if i!='secret':
        print(i)

cia
mi6
isi

# Q.3.25

In [28]:
lst = ['Wassay','Sardar','Ahmed','Murtaza']
for i in lst:
    if i[0] in "AaMm":
        print(i)

Ahmed
Murtaza

# Q.3.26

In [2]:
a=[]
for x in range(0,4):
    num=input("Enter a number: ")
    a.append(num)
print('The first element is:',a[0])
print('The last element is:',a[3])

Enter a number: 3
Enter a number: 5
Enter a number: 7
Enter a number: 9
The first element is: 3
The last element is: 9

# Q.3.27

In [32]:
n=eval(input('Enter a number: '))
for j in range(0,4):
        print(n*j)

Enter a number: 5
0
5
10
15

# Q.3.28

In [33]:
n=eval(input('Enter a number: '))
for i in range(0,n):
    print(i**2)

Enter a number: 3
0
1
4

# Q.3.29

In [38]:
n=eval(input('Enter a positive integer: '))
for i in range(1,n+1):
    if (n%i)==0:
        print(i)

Enter a positive integer: 49
1
7
49

# Q.3.30

In [39]:
n1=eval(input('Enter a number: '))
n2=eval(input('Enter a number: '))
n3=eval(input('Enter a number: '))
n4=eval(input('Enter a number: '))
av=(n1+n2+n3)/3
if av==n4:
    print('Equal')

Enter a number: 4.5
Enter a number: 3
Enter a number: 3
Enter a number: 3.5
Equal

# Q.3.31

In [40]:
x=eval(input('Enter the value of X: '))
y=eval(input('Enter the value of Y: '))
r=eval(input('Enter the radius of dartboard: '))
if (x**2)+(y**2) < (r**2):
    print('It is in!')

Enter the value of X: 2.5
Enter the value of Y: 4
Enter the radius of dartboard: 8
It is in!

# Q.3.32

In [14]:
n=int(input('Enter four integers: '))
x=n%10
y=x-3
for num in range(y,x+1):
    print(num)

Enter four integers: 4567
4
5
6
7

# Q.3.33

In [46]:
def rev_string(x):
    s=''
    for char in x:
        s=char+s
    return s

word=input('Enter a word: ')
rev_string(word)

Enter a word: python

'nohtyp'

# Q.3.34

In [58]:
def pay(wage_h,hours):
    wage=wage_h*hours
    if hours > 40:
        extra_pay=(wage_h*1.5)*hours
        print('Weekly pay(Included Overtime):',extra_pay)
    else:
        print('Weekly pay:',wage)
        
w=eval(input('Enter wage per hour: '))
h=eval(input('Enter working hours per week: '))
pay(w,h)

Enter wage per hour: 10
Enter working hours per week: 45
Weekly pay(Included Overtime): 675.0

# Q.3.35

In [59]:
def prob(n):
    return 2**(-n)

prob(1)

0.5

# Q.3.36

In [29]:
def reverse_int(n):
    x=0
    while(n!=0):
        x*=10
        x+=n%10
        n=n//10
    return x


reverse_int(1234)

4321

# Q.3.37

In [8]:
import math
def points(x1,y1,x2,y2):
    d=math.sqrt(((x2-x1)**2)+((y2-y1)**2))
    if x1==0 and x2==0:
        print('The slope is infinity and the distance is',abs(d))
    else:
        m=(y1-y2)/(x1-x2)
        print('The slope is',m,'and the distance is',d)
        
points(0,0,0,1)

The slope is infinity and the distance is 1.0

# Q.3.38

In [10]:
def abbreviation(x):
    return x[0:2]

day=input('Enter the name of day: ')
abbreviation(day)

Enter the name of day: Tuesday

'Tu'

# Q.3.39

In [27]:
import math
def collision(x1,y1,r1,x2,y2,r2):
    if math.sqrt((x1-x2)**2+(y1-y2)**2) > (r1+r2):
        return False
    else:
        return True

collision(0,0,3,0,5,3)

True

# Q.3.40

In [15]:
def partition(x):
    for i in x:
        if i[0] in 'ABCDEFGHIJKLM':
            print(i)
            
partition(['Wassay','Evelyn','Sammy','Owen','Gavin'])

Evelyn
Gavin

# Q.3.41

In [17]:
def lastF(f,l):
        print(l,f[0]+'.')
        
lastF('Wassay','Sardar')

Sardar W.

# Q.3.42

In [22]:
def avg(x):
    for i in x:
        average=sum(i)/len(i)
        print(average)
        
lists=[[95,92,86,87],[66,54],[89,72,100],[33,0,0]]
avg(lists)

90.0
60.0
87.0
11.0

# Q.3.43

In [25]:
import math
def hit(x1,y1,r,x2,y2):
    if math.sqrt(((x1-x2)**2)+((y1-y2)**2)) > r:
        return 'false'
    else:
        return True
    
hit(0,0,3,3,0)

True

# Q.3.44

In [26]:
def distance(t):
    s=340.29 #The approximate speed of sound.
    d=s*t
    km=d/1000
    return km

distance(3)

1.0208700000000002

# The End :-D